<div class="container">

  <h2>Wygeneruj nowe menu</h2>
  <div class="row bottom-margin">
    <%= render :partial => "pages/generator_form" %>
  </div>


  <h2>Twoje zapisane menu</h2>
  <% if @menus.blank? %>
      <p class="lead">Nie masz zapisanych jadłospisów</p>
      <%else%>
  <div class="list-group">
    <% @menus.each do |menu| %>
        <%= link_to "Jadłospis #{parse_create_time menu.created_at}", menu, class: "list-group-item" %>
    <% end %>
  </div>
      <%end%>
</div>