<div class="menu">
<% @menu.recipes.each_with_index do |recipe, index| %>
    <% puts recipe %>
    <div class="row">
        <div class="heading"><%= "#{index_to_category index} (#{recipe.calories} kcal)"%></div>
            <hr>
            <%= render "recipe", :recipe => recipe %>
    </div>
<%end%>
</div>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= link_to 'Back', menus_path, class: "btn btn-default" %>

    <%= link_to 'Zapisz', save_path(:menu => @menu), method: "post", class: "btn btn-success" %>
  </div>
  </div>

