<div class="row bottom-margin">
  <div class="jumbotron text-center banner main">
    <div class="motto">
      <h1>Układanie diety jeszcze nigdy nie było tak proste</h1>
    </div>
  </div>

  <div class="row bottom-margin">
    <div class="container how">

      <h3>Jak to działa?</h3>

      <p>W obecnych czasach praktycznie każdy jest ekspertem w sprawach żywienia, jednak niewielu ludzi jest
        zadowolonych z ich sposobu odżywiania. FitMeUp! jest aplikacją, która oszczędzi Twój czas i energię,
        którą marnujesz na poszukiwanie smacznych przepisów w Internecie. Podaj swoje zapotrzebowanie kaloryczne
        i niech się dzieje magia!*
      </p>
    </div>
  </div>

  <div class="row bottom-margin">
    <div class="text-center diet-form">
      <h2>Kontroluj swoje posiłki z <br>FitMeUP</h2>
      <%= render :partial => "generator_form" %>
    </div>
  </div>

  <div class="row">
    <div class="container features">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-edit"></span>

        <h3>Planuj jadłospisy</h3>

        <p>podaj nam ilość spożywanych przez Ciebie kalorii, a my wygenerujemy specjalnie dla Ciebie zdrowe, pięcioposiłkowe menu.
        </p>
      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-barcode"></span>

        <h3>Generuj listy zakupów</h3>

        <p>spodobał Ci się jadłospis? Kliknij 'Generuj', a otrzymasz listę, z którą możesz iść na zakupy</p>

      </div>
      <div class="col-md-4">
        <span class="glyphicon glyphicon-print"></span>

        <h3>Drukuj przepisy</h3>

        <p>Lepiej nie trzymać laptopa w pobliżu garnków. Po prostu wydrukuj wybrany przez siebie przepis.</p>

      </div>
    </div>
    <div class="text-center italic">
      * Aplikacja nie zastępuje wizyty u dietetyka i lekarza.
    </div>
  </div>
</div>

