/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require bootstrap
 */


.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
.fileinput-button {
    position: relative;
    overflow: hidden;
}
/*Also*/
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

body{
    font-family: 'Roboto', sans-serif;
}
.fitmeup-nav {
    background-color: white;
    border: none;
    color: #690C2D;
}

.banner {
    color: white;
    text-shadow: #333333;
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    text-shadow: 1px 0px 15px rgb(56, 55, 55);
}

.banner.main{
    background-image: url("2.jpg");
    background-size: 100%;
}

.banner.recipes{
    background-image: url("3.jpg");
    background-size: 100%;

}

.banner.new_recipe{
    background-image: url("1.jpg");
    background-size: 100%;

}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.login{
    background-image: url("rej.jpg");
    background-size: 100%;
}

.motto {
    width: 440px;
}

.btn-action{
    background-color: #690C2D;
    border: none;
}

.diet-form h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 45px;
}

.bottom-margin {
    margin-bottom: 45px;
}
.how p{
    font-size: 20px;
    line-height: 27px;
}

.features{
    text-align: center;
}

.features p{
    font-size: 16px;
}

.features .glyphicon{
    font-size: 50px;
    color: #B82257;
}

.informations{
    font-size: 16px;
    background-color: #F0F0F0;
}

.informations span{
    display: block;
    margin: 13px 0;
}

.informations .big{
    color: #B82257;
    font-size: 32px;
    margin: 0;
}

.recipe{
    text-align: center;
}

.recipe .lead{
    font-size: 25px;
}

.recipe .cal{
    font-size: 20px;
}

.field_with_errors{
    padding: 1px;
    display: flex;
    background-color: #a94442;
}


.recipe
a:active,
a:hover{
    color: #B82257;
    text-decoration: none;
}

.item.recipe {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
}

.row.recipes {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;

}
